.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Tahoma";
    -fx-base: #23272A;
    -fx-background: #23272A;
    -fx-focus-color: #23272A;
    -fx-image: white;
}

.button1{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5;
}

